.item {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 8px #00000050;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
  }
  
  .item:hover {
    box-shadow: 0 2px 8px #00000070;
  }
  
  .item h2 {
    flex: 1 1 0;
  }