:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 2rem;
  text-align: center;
}

a,
a:visited {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  width: 100%;
}

input:hover {
  box-shadow: 0px 0px 1px 1px #646cff;
}

input:focus:not([type="checkbox"]) {
  outline: 2px solid #646cff;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  background: #fff;
  box-shadow: 0 2px 8px #00000050;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project {
  min-width: 300px;
  width: fit-content;
  height: max-content;
  padding: 10px;
  gap: 10px;
  display: grid;
  place-items: center;
  background-color: #ebecf0;
  border-radius: 12px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin-block: 30px;
}

.back-to-projects {
  position: absolute;
  left: 0;
  top: 0;
}

.project a {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.column {
  display: grid;
  height: fit-content;
  padding: 10px;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 2px 8px #00000014;
  background-color: #fff;
}

.task-item {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px #00000050;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}

.task-item:hover {
  box-shadow: 0 2px 8px #00000070;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.task {
  background: #ebecf0;
  padding: 10px;
  min-width: 50%;
}

.task-header {
  display: flex;
  justify-content: space-between;
}
.task-title {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.task-title h2 {
  padding: 10px;
  border-radius: 10px;
}

.task-title:hover h2 {
  background: #00000030;
}

.close-modal {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}

.file-upload {
  display: flex;
  gap: 10px;
}

.files-form {
  display: grid;
  gap: 10px;
}

.files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.task-item h2 {
  flex: 1 1 0;
}

.task-description {
  cursor: pointer;
  border-radius: 8px;
}

.task-description:hover {
  background: #00000030;
}

.add-task {
  align-self: end;
}

.subtasks-wrapper {
  display: grid;
  padding: 10px;
  gap: 20px;
}

.subtask {
  display: grid;
  grid-template-columns: 10% 1fr 15%;
  align-items: center;
  justify-items: center;
  gap: 10px;
  width: 100%;
}

.subtask-description-form {
  display: grid;
  gap: 10px;
  place-items: flex-start;
}

.subtask-title {
  justify-self: flex-start;
}

.subtask-checkbox {
  width: 50%;
  height: 50%;
  padding: 10px;
}

.subtask-checkbox:checked+span {
  text-decoration: line-through;
}

.subtask-form {
  display: flex;
  gap: 10px;
}

.queue,
.development,
.done {
  border-top: 5px solid;
}

.queue {
  border-color: #d3d3d3;
}

.development {
  border-color: #f9d900;
}

.done {
  border-color: #6bc950;
}